<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="">AutoPilot</a>
  <div class="navbar-expand-sm" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
      </li>
      <!--<li class="nav-item dropdown">-->
        <!--<a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
          <!--Tools-->
        <!--</a>-->
        <!--<div class="dropdown-menu">-->
          <!--<a class="dropdown-item" *ngFor="let item of menuItems" routerLink="{{item.link}}">{{item.name}}</a>-->
        <!--</div>-->
        <!--&lt;!&ndash;<ul class="dropdown-menu">&ndash;&gt;-->
          <!--&lt;!&ndash;<li><a *ngFor="let item of menuItems" routerLink="{{item.link}}">{{item.name}}</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;</ul>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">&ndash;&gt;-->
          <!--&lt;!&ndash;<a class="dropdown-item" *ngFor="let item of menuItems" routerLink="{{item.link}}">{{item.name}}</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--</li>-->
    </ul>
  </div>
</nav>
