<h3 id="tool-header">Sicom Report Downloader & Converter</h3>

<!--<div id="sicomReport">-->
    <!--<p>List of Steps</p>-->
<!--</div>-->

<div id="sicomReportInput">
    Select Sicom Report File:
    <select id="sicomReportInputFile">

    </select>
    <p class="sicomReportInputMsg"></p>
</div>

<!--<div class="sicomCSVConverter">-->
    <!--<h1>Sicom CSV Converter</h1>-->
    <!--<select id="sicomInputFile"></select>-->
    <!--<button id="sicomInputFileSubmit">Submit</button>-->
    <!--<h2 class="sicomFileSuccess">File Converted!</h2>-->
<!--</div>-->

<!--<div id="googleFunct">-->
    <!--<p>Copy the text below into your google console</p>-->
    <!--<textarea id="googleFunctText" readonly></textarea>-->
    <!--<button id="googleCopyText">Copy</button>-->
<!--</div>-->

<!--<div id="runBatch">-->
    <!--Running Batch Now-->
    <!--<div id="batchLog"></div>-->
<!--</div>-->